#topmenu ul, #topmenu li {
	margin: 0;
	padding: 0;
}
#topmenu li {
	list-style:none;
	line-height:1em;
}
#topmenu .wrapper {
	padding-left:40px;
	position:relative;
	z-index:10;
}
#topmenu li.top {
	background:url(../img/topmenu-separator.gif) no-repeat right 10px;
	display:block;
	float:left;
}
#topmenu li.top a {
	color:#4b4c4c;
	display:block; 
	font:bold 12px Arial !important;
	text-decoration:none;
	text-align:left;
	padding:16px 29px 12px 29px;
	overflow:hidden;
}
#topmenu li.active a:hover {
	padding:0px 0px 0px 0px;
	background:url(../img/topmenu-left.gif) no-repeat 0 0 !important;
}
#topmenu li.active a:hover span {
	background:url(../img/topmenu-right.gif) no-repeat right 0 !important;
}
#topmenu li.active a:hover span{
	padding:0px 0px 0px 0px;!important;
}
#topmenu li.active a {
	padding:0px 0px 0px 0px;
	background:url(../img/topmenu-left.gif) no-repeat 0 0 !important;
}
#topmenu li.active .ulwrapper li a {
	background:url(../img/spacer.gif) no-repeat 0 0 !important;
}
#topmenu li.active a span {
	background:url(../img/topmenu-right.gif) no-repeat right 0 !important;
	padding:15px 29px 12px 29px !important;
}
#topmenu li.top a span {
	display:block;
	cursor:pointer;
	padding:0px 0px 0px 0px;
}
.body #topmenu li.top:hover a span, .body #topmenu li.top.active a span {
	color:#3562ab;
}
.body2 #topmenu li.top:hover a span, .body2 #topmenu li.top.active a span {
	color:#FC625A;
}
.body3 #topmenu li.top:hover a span, .body3 #topmenu li.top.active a span {
	color:#136F00;
}
#topmenu li.top.active ul li a span {
	color:#000;
}
#topmenu li.active ul li a span {
	padding:0px 0px 0px 0px !important;
}
/*highlite current item up to level 4*/
#topmenu li.top:hover ul li a {
	background:url(../img/spacer.gif) no-repeat 0 0 !important;
}
#topmenu li.top:hover ul li a span {
	background:url(../img/spacer.gif) no-repeat 0 0 !important;
	color:#000;
}
#topmenu li.top:hover ul li:hover a span {
	color:#3562ab;
}
#topmenu li.top:hover ul li:hover ul li a span {
	color:#000;
}
#topmenu li.top:hover ul li:hover ul li:hover a span {
	color:#3562ab;
}
#topmenu li.top:hover ul li:hover ul li:hover ul li a span {
	color:#000;
}
#topmenu li.top:hover ul li:hover ul li:hover ul li:hover a span {
	color:#3562ab;
}
#topmenu li.top:hover ul li:hover ul li:hover ul li:hover ul li a span {
	color:#000;
}
#topmenu li.top:hover ul li:hover ul li:hover ul li:hover ul li:hover a span {
	color:#3562ab;
}
/*end highlite current item up to level 4*/
#topmenu .menu-nav li.top ul li {
	padding:0px 0px 0px 0px;
}
#topmenu .menu-nav li.top ul li a, #topmenu .menu-nav li.active ul li a span {
	padding:5px 0px 5px 20px;
}
#topmenu li.top li a, #topmenu li.top:hover li a {
	display:block;
	background:none;
	width:100%; /*ie7 fix for not displaying bullets*/
	padding-left:10px;
	margin-bottom:auto;
	
}
#topmenu li li a span {
	height:auto;
	padding:0;
	background:none;
}
#topmenu li li:hover a span {
	color:#FFF;
}
#topmenu li.top ul {
	width:201px;
	padding:7px 0 5px 0;
	margin-top:0px;
}

#topmenu .menu-nav li {
	position:relative;
}
#topmenu .menu-nav li .ulwrapper {
	background:url(../img/opacity.png);
	float:none;
	left:-1000em;
	position:absolute;
	width:201px;
	z-index:100;
}
#topmenu .menu-nav li.top .ulwrapper {

}
#topmenu .menu-nav li:hover .ulwrapper {
	left:auto;
	/*padding-top:3px;*/
}
/* end hover*/
#topmenu ul ul li.parent {

}
#topmenu ul li ul li a {
	height:auto;
}
#topmenu ul ul li{
	padding-left:17px;
}
#topmenu ul ul li a {
	padding:1.25em 0;
	
}
#topmenu ul ul li:hover {
}
#topmenu ul ul li.parent {
}
#topmenu ul ul li.parent:hover {
}

#topmenu .menu-nav li:hover li .ulwrapper, #topmenu .menu-nav li li:hover li .ulwrapper, #topmenu .menu-nav li li li:hover li .ulwrapper {
	top:-1000em;
}
#topmenu .menu-nav li li:hover .ulwrapper, #topmenu .menu-nav li li li:hover .ulwrapper, #topmenu .menu-nav li li li li:hover .ulwrapper {
	left:185px;
	top:0;
}
#topmenu li.top li a span, #topmenu li.top:hover li a span {
	background:none;
	height:auto;
	padding:0;
	padding-left:8px;
	padding-right:17px;
}
#topmenu li.top li a {
	height:auto;
}
#topmenu li.top ul{
	padding-top:10px;
	
}
#topmenu li.top ul ul{
	padding-top:8px;
}